//
   Created by lbb on 2015/12/17.

extends layout/layout
block content
    .demo-main.mdl-layout__content
        .article-container
            .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--12-col
                .about-panel
                    h3 关于
                    h4.title.child-title 博主信息
                    ul
                        li 重庆大学 软件学院 2012级
                        li NodeJs MongoDB
                    h4.title.child-title 联系方式
                    ul
                        li 邮箱：573328344@qq.com
