link(rel='stylesheet', href='/lib/mdl/material.min.css')
script(src="/lib/mdl/material.min.js")
link(rel='stylesheet', href='/lib/mdl/icon.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/common.css')