link(rel="stylesheet",href="/stylesheets/bootstrap.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/common.css')

link(rel='stylesheet', href='/stylesheets/palette.css')

script(src="/javascript/jquery.js")
script(src="/javascript/bootstrap.js")
