//
   Created by lbb on 2015/11/1.

.sidebar-title
   i.glyphicon.glyphicon-bookmark.pb-icon
   span 热门标签
.tag-panel
   span.tag-block
      a(href="#") 标签一标签一
   span.tag-block
      a(href="#") 标签一标
   span.tag-block
      a(href="#") 标签一
