//
   Created by lbb on 2015/10/19.

footer.mdl-mini-footer
    .mdl-mini-footer--left-section
        .mdl-logo 个人博客
        ul.mdl-mini-footer--link-list
            //span supported by
            li
                a.pb-margin-horizon-10px(href="") Material Design lite
            li
                a.pb-margin-horizon-10px(href="") NodeJs
            li
                a.pb-margin-horizon-10px(href="") MongoDB
    .mdl-mini-footer--right-section
        span Powered by LiBeibei 573328344@qq.com


